{% extends 'base/base.html' %}
{% load static %}
{% block custom_css %}
	<link rel="stylesheet" href="{% static 'css/signup.css' %}"/>{% endblock %}

{% block content %}


	<div class="all-container">
		<div class="container">

			<form class="signup-form" method="post" action="{% url 'account:signup' %}">
				{% csrf_token %}
				<input
						type="text"
						id="name"
						name="phone_number"
						placeholder="شماره تلفن"
						pattern="09[0-9]{9}"
						maxlength="11"
						inputmode="numeric"
						oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 11);"
						required
				/>

				<input
						type="password"
						id="password"
						name="password1"
						placeholder="رمز عبور"
						required
				/>

				<input
						type="password"
						id="confirm-password"
						name="password2"
						placeholder="تایید رمز عبور"
						required
				/>
				<div class="form-container">
					<div class="radio-group">

						{% for choice in form.user_type %}
							<label class="custom-radio">
								{{ choice.choice_label }}
								{#                      <input type="radio" name="{{ choice.tag }}" value="{{ choice.tag }}" />#}
								{{ choice.tag }}
							</label>

						{% endfor %}
					</div>
					<!-- استفاده از کپچای فرم رمز عبور -->
					<div>
						{{ form.captcha }}
					</div>

					<!-- نمایش خطاهای کپچای رمز عبور -->
					{#					{% if form.captcha.errors %}#}
					{#						<div class="error-message" style="color: red; font-size: 0.8rem;">#}
					{#							{{ form.captcha.errors.0 }}#}
					{#						</div>#}
					{#					{% endif %}#}
					{#					<br/>#}
					{#					<button name="" type="submit">ثبت‌نام</button>#}
					{#					{% if messages %}#}
					{#						<div class="messages" style="color: red; font-size: 0.8rem;">#}
					{#							{% for message in messages %}#}
					{#								<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>#}
					{#							{% endfor %}#}
					{#						</div>#}
					{#					{% endif %}#}
				</div>
				<button name="" type="submit">ثبت‌نام</button>
				<p class="login-link">حساب دارید؟ <a href="{% url 'account:login' %}">وارد شوید</a></p>
			</form>
		</div>
	</div>
{% endblock %}