{% extends 'base/base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="div-body">
      <div class="header-div">
        <button class="button-headar">=</button>
        <button class="button-headar2">=</button>
        <p class="p-header">Welcome to the online pet store🐶</p>
      </div>
      <div class="header-div2">
        <p class="pet-shope">Pet shop</p>
      </div>
      <div class="divtodiv">
        <button class="star">+</button>
        <button class="too">2</button>
        <button class="tree-border">///</button>
      </div>
    </div>
    <img
      class="big-img"
      src="{% static 'images/dog.jpg' %}"
    />
    <div class="div-center">
      <button class="button-divcenter">CLOOGH</button>
      <input class="input" type="text" placeholder="search" />
    </div>
    <button class="languich">languich</button>
    <div class="div-10">
      <div class="div-12">
        <img
          class="image-left"
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p class="p-1">Use popet<br />emotional damage</p>
      </div>
      <div class="div-11">
        <img
          class="image-right"
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p class="p-2">Use popet<br />emotional damage</p>
      </div>
    </div>
    <div class="div-20">
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
          class="image-10"
        />
      </div>
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
          class="image-11"
        />
      </div>
    </div>
    <div class="last-div">
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p>use 1</p>
      </div>
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p>candipator</p>
      </div>
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p>fodery</p>
      </div>
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p>pet house</p>
      </div>
      <div>
        <img
          src="{% static 'images/dog.jpg' %}"
          alt="popet"
        />
        <p>pet toys</p>
      </div>
    </div>
  </div>
{% endblock %}