@import "webfont.css";

:root {
  --main-color: #8ae2d2;
  --font-size-dw: Clamp(10vw, 14vw, 15vw);
  --font-size-up: Clamp(6vw, 7vw, 10vw);
  --main-color-two: rgb(255, 120, 24);
}
.all-login-box {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}


.ham-icon {
  width: 25%;
}

.login-box {
  margin: 2%;
  background-color: white;
  padding: 30px 20px;
  border-radius: 12px;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
  width: 100%;
  max-width: 380px;
  box-shadow: 0px 2px 15px rgba(138, 226, 210, 1);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.tab.active {
  color: #8ae2d2;
  border-bottom: 3px solid #8ae2d2;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.input-container {
  border: 2px solid #8ae2d2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input,
.captcha-input-group input {
  width: 100%;
  height: 45px;
  border: 2px solid #8ae2d2;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
}

.captcha-box {
  width: 40%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px dashed #bbb;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 14px;
}

.captcha-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.captcha-input-group button {
  padding: 0 16px;
  background-color: var(--main-color-two);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.captcha-input-group button:hover {
  background-color: var(--main-color-two);
  color: black;
}

.login-box button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #8ae2d2;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button[type="submit"]:hover {
  background-color: #8ae2d2;
}
@media (min-width: 768px) {

  .menu-divv {
    top: 70px;
    height: calc(100vh - 70px);
  }
}

@media (max-width: 480px) {
  .menu-box {
    width: 100%;
    height: auto;
    font-size: 1rem;
    padding: 12px;
  }
  .all-container{
    padding: 7%;
  }
}
