{% extends 'user_panel/dashboard.html' %}
{% load static %}
{% block custom_css %}<link rel="stylesheet" href="{% static '/css/userpanel/change-password.css' %}"/>{% endblock %}
{% block content %}

<div class="all-div-container">
    <div class="container-change-password container">
        <div class="head-container-change-password head-container">
            <img class="head-container-icon" src="{% static 'images/icons8-password-48.png' %}">
            <span class="head-container-name">تغییر رمز عبور</span>
        </div>
        <div class="password-change-form">
            <form action="{% url 'user_panel:change_password' %}" id="change-password-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="current-password">رمز عبور فعلی</label>
                    <input name="old_password" type="password" id="current-password" placeholder="رمز فعلی خود را وارد کنید">
                </div>

                <div class="form-group">
                    <label for="new-password">رمز عبور جدید</label>
                    <input name="new_password1" type="password" id="new-password" placeholder="رمز عبور جدید را وارد کنید">
                </div>

                <div class="form-group">
                    <label for="confirm-password">تکرار رمز عبور جدید</label>
                    <input name="new_password2" type="password" id="confirm-password" placeholder="تکرار رمز عبور جدید">
                </div>

                <div class="submit-container">
                    <button class="submit-btn" type="submit">
                        <img src="{% static 'images/icons8-save-50.png' %}" width="25px" height="25px">
                        ذخیره تغییرات
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}

{% block custom_js %}

{% endblock %}