{% extends 'user_panel/dashboard.html' %}
{% load static %}
{% block custom_css %}<link rel="stylesheet" href="{% static '/css/userpanel/orders-list.css' %}"/>{% endblock %}
{% block content %}

<div class="all-div-container">

    <div class="container">
        <!--            <div class="all-header-container"></div>-->

        <div class="head-container-order head-container">
            <img class="head-container-order-icon head-container-icon" src="{% static '/images/icons8-list-64.png' %}">
            <span class="head-container-order-name">
                سفارشات من
            </span>
        </div>
        <div class="all-tables-div">
            {% if orders_page and orders_page.object_list %}
            <div class="orders-container">
                <!-- هدر دسکتاپ -->
                <div class="order-header">
                    <div>شماره سفارش</div>
                    <div>تاریخ</div>
                    <div>مبلغ کل</div>
                    <div>وضعیت</div>
                    <div>کد رهگیری</div>
                    <div>جزییات</div>
                </div>

                {% for order in orders_page %}
                <!-- ردیف نمونه -->
                <div class="order-row">
                    <div data-label="شماره سفارش">#{{ order.id }}</div>
                    <div data-label="تاریخ">{{ order.created_at|date:"Y/m/d H:i" }}</div>
                    <div data-label="مبلغ">{{ order.total_price|floatformat:0 }} تومان</div>
{#                    <div data-label="وضعیت"><span class="status {% if order.status == order.PENDING  %}pending {% elif order.status == order.PAID %} paid {% endif %}">{{ order.get_status_display }}</span></div>#}
                    <div data-label="وضعیت"><span class="status {{ order.get_status_display_class }}">{{ order.get_status_display }}</span></div>
                    <div data-label="کد رهگیری">{{ order.tracking_code|default:"-" }}</div>
                    <div data-label="جزییات" class="two-button-div">
                    {% if order.status == order.PENDING %}
                        <a onclick="showLoader()" class="loader-form" href="{% url 'user_panel:checkout' order.id %}">
                            <button type="submit" class="details-btn view-order-details" data-id="{{ order.id }}">
                                 <i class="fas fa-eye me-1"></i>  پرداخت
                            </button>
                        </a>
                    {% endif %}
	                    <a href="{% url 'user_panel:cart_item_detail' order.id %}">
                            <button  class="details-btn view-order-details but-detail" data-id="{{ order.id }}">
                                 <i class="fas fa-eye me-1"></i>  جزییات
                            </button>
                        </a>
                    </div>
                </div>


                {% endfor %}


            </div>
            {% else %}
                <div class="all-message-box">
					<div class="message-box">
						<img src="{% static 'images/icons8-add-to-cart-96%20(1).png' %}">
						<div class="message">شما هنوز هیچ سفارشی ثبت نکرده‌اید!</div>
						<a href="{% url 'product:product_list' %}">
							<button class="back-product-button">بازگشت به فروشگاه</button>
						</a>
					</div>
				</div>
            {% endif %}
        </div>

    </div>
</div>


{% endblock %}
{% block custom_js %}
<script>

const hamburger = document.getElementById('hamburger');
const closeBtn = document.getElementById('closeBtn');
const sideMenu = document.getElementById('sideMenu');
const allDivContainer = document.querySelector('.all-div-container');

// حالت اولیه
allDivContainer.style.width = '90%';
allDivContainer.style.marginRight = '5%';

hamburger.addEventListener('click', () => {
    sideMenu.classList.add('open');
    allDivContainer.style.width = '70%';
    allDivContainer.style.marginRight = '20%';

    // مخفی کردن همبرگر
    hamburger.style.visibility = 'hidden';
    // یا می‌تونی display رو هم امتحان کنی: hamburger.style.display = 'none';
});

closeBtn.addEventListener('click', () => {
    sideMenu.classList.remove('open');
    allDivContainer.style.width = '90%';
    allDivContainer.style.marginRight = '5%';

    // نمایش مجدد همبرگر
    hamburger.style.visibility = 'visible';
    // یا hamburger.style.display = 'block';
});

</script>
{% endblock %}
