{% extends 'user_panel/dashboard.html' %}
{% load static %}
{% block custom_css %}<link rel="stylesheet" href="{% static '/css/userpanel/shopping-cart.css' %}"/>{% endblock %}
{% block content %}
<div class="all-div-container">

        <div class="container">
            <div class="all-header-container"></div>

            <div class="head-container">
                <img class="head-container-icon" src="{% static 'images/icons8-add-to-cart-30.png' %}">
                <span class="head-container-name">سبد خرید</span>
            </div>

            <div class="main-container">
                <div class="cart-container" id="cart">
                    {% if cart %}
                    <div class="cart-header">
                        <div>محصول</div>
                        <div>فروشنده</div>
                        <div>قیمت </div>
                        <div>تعداد</div>
                        <div>قیمت کل</div>
                        <div>عملیات</div>
                    </div>
                    {% for item in cart.items.all %}
                    <!-- ردیف‌ها -->
                    <div class="cart-row">
                        <div data-label="محصول">{{ item.seller_product.product.title }}</div>
                        <div data-label="فروشنده">{{ item.seller_product.seller.get_username }}</div>
                        <div data-label="قیمت واحد" class="unit-price">{{ item.unit_price|floatformat:0 }} تومان </div>
                        <div data-label="تعداد">
                            <div class="qty-controls">
                                <button class="decrease decrement" data-id="{{ item.id }}">-</button>
                                <span class="qty item-quantity">{{ item.quantity }}</span>
                                <button class="increase increment" data-id="{{ item.id }}">+</button>
                            </div>
                        </div>
                        <div data-label="قیمت کل" class="total-price item-total">{{ item.total_price|floatformat:0 }}  تومان </div>
                        <div data-label="عملیات">
                            <button class="remove-btn remove-item" data-id="{{ item.id }}" onclick="openModal({{ item.id }})">حذف</button>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="text-center py-5">
                        <div class="mb-3">
                            <i class="fas fa-shopping-cart fa-4x text-muted"></i>
                        </div>
                        <h5 class="text-muted">سبد خرید شما خالی است</h5>
                        <p class="text-muted">برای افزودن محصول به سبد خرید از فروشگاه دیدن کنید</p>
                        <a href="{% url 'product:product_list' %}" class="btn btn-primary mt-3">
                            <i class="fas fa-store me-2"></i> بازگشت به فروشگاه
                        </a>
                    </div>
                    {% endif %}
                </div>

                <div class="cart-summary" id="cart-summary">
                   {{ cart.total_price|floatformat:0 }} تومان
                </div>

                <div class="cart-actions">
                    <a onclick="showLoader()" href="{% url 'product:product_list' %}"><button  class="continue-btn">ادامه خرید</button></a>

                    <a onclick="showLoader()" href="{% url 'user_panel:checkout' cart.id %}"><button class="checkout-btn" data-id="{{ cart.id }}" > پرداخت نهایی </button></a>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Overlay -->
			  <div id="modalOverlay" class="modal-overlay">
			    <div class="modal">
			      <div class="close-icon-div">
			        <button class="close-icon-button" onclick="closeModal()">
			          <img src="{% static 'images/icons8-close-48.png' %}">
			        </button>
			      </div>
			      <div class="main-image-div">
			        <img class="img-main" src="{% static 'images/icons8-add-to-cart-100.png' %}">
			      </div>
			      <p id="modal-message">محصول به سبد خرید اضافه شد</p>
			      <div class="close-button-div">
			        <button onclick="closeModal()" class="close-button">بستن</button>
			        <button class="submit-button-modal"  >تایید</button>
			      </div>
			    </div>
			  </div>

{% endblock %}
{% block custom_js %}
<script>
    function openModal(item_id) {
        console.log(item_id)

      let modal = document.getElementById('modalOverlay')
      modal.classList.add('active');
       let submitBtn = modal.querySelector(".submit-button-modal")
       submitBtn.setAttribute('data-id' , item_id);
    }

    function closeModal() {
      document.getElementById('modalOverlay').classList.remove('active');
    }

</script>
<script>
$(document).ready(function() {
    console.log("sa");

    // افزایش تعداد
    $('.increment').click(function() {
        const itemId = $(this).data('id');
        updateCartItem(itemId, 'increment');
    });

    // کاهش تعداد
    $('.decrement').click(function() {
        const itemId = $(this).data('id');
        updateCartItem(itemId, 'decrement');
    });

    // حذف آیتم
    $('.submit-button-modal').click(function() {
        const itemId = $(this).data('id');
        removeCartItem(itemId);
        closeModal()
    });

    function updateCartItem(itemId, action) {
        $.post('{% url "user_panel:update_cart_item" 0 %}'.replace('0', itemId),
            {
                action: action,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(response) {
                if (response.success) {
                    // به‌روزرسانی تعداد و قیمت در ردیف
                    if(response.new_quantity > 0){
	                    const row = $(`button[data-id="${itemId}"]`).closest('.cart-row');
	                    row.find('.item-quantity').text(response.new_quantity);
	                    row.find('.item-total').text(response.item_total + ' تومان');

	                    // به‌روزرسانی جمع کل سبد خرید
	                    $('.cart-summary').text(response.cart_total + ' تومان');
                    }else{
                        const row = $(`button[data-id="${itemId}"]`).closest('.cart-row');
                        row.remove()
                        row.find('.item-total').text(response.item_total + ' تومان');
                        // به‌روزرسانی جمع کل سبد خرید
	                    $('.cart-summary').text(response.cart_total + ' تومان');
                    }
                }
            }
        );
    }

    function removeCartItem(itemId) {

        $.post('{% url "user_panel:remove_cart_item" 0 %}'.replace('0', itemId),
            {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(response) {
                if (response.success) {
                    // حذف ردیف از جدول
                    const row = $(`button[data-id="${itemId}"]`).closest('.cart-row');
                    row.fadeOut(400, function() { $(this).remove(); });

                    // به‌روزرسانی جمع کل سبد خرید
                    $('.cart-summary').text(response.cart_total + ' تومان');

                    // به‌روزرسانی تعداد آیتم‌ها در هدر
                    $('.cart-count').text(response.cart_items_count);

                    // اگر سبد خرید خالی شد، نمایش پیام
                    if (response.cart_items_count == 0) {
                        location.reload();
                    }
                }
            }
        );
    }

    // افزودن به سبد خرید (در صفحات محصولات)
    $('.add-to-cart').click(function() {
        const productId = $(this).data('id');
        // اگر کاربر وارد نشده باشد
        {% if not request.user.is_authenticated %}
            alert('برای افزودن محصول به سبد خرید، باید وارد حساب کاربری خود شوید');
            window.location.href = "{% url 'account:login' %}";
            return;
        {% endif %}

        // درخواست AJAX برای افزودن به سبد خرید
        $.post('{% url "user_panel:add_to_cart" 0 %}'.replace('0', productId),
            {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(response) {
                if (response.success) {
                    // به‌روزرسانی تعداد آیتم‌ها در هدر
                    $('.cart-count').text(response.cart_items_count);

                    // نمایش پیام موفقیت
                    alert(response.message);
                } else {
                    // نمایش خطای خاص برگشتی از سرور
                    alert(response.error || 'خطا در افزودن محصول به سبد خرید');
                }
            }
        ).fail(function(xhr) {
            // مدیریت خطاهای شبکه/سرور
            alert('خطا در ارتباط با سرور. لطفاً دوباره تلاش کنید');
            console.error('Error:', xhr.responseText);
        });
    });
});

</script>
{% endblock %}
