{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ product.title }}{% endblock %}
{% block custom_css %}
	<link rel="stylesheet" href={% static '/css/detail.css' %}>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="product-container">
			<!-- ستون سمت راست: گالری محصول -->
			<div class="product-gallery">
				<div class="gallery-main">
					{% if images %}
						<img id="main-image" src="{{ images.0.image.url }}" alt="{{ product.title }}">
					{% else %}
						<img id="main-image" src="{% static 'images/default-product.jpg' %}" alt="{{ product.title }}">
					{% endif %}
				</div>
				<div class="gallery-thumbs" id="gallery-thumbs">

				</div>
			</div>

			<!-- ستون وسط: توضیحات محصول -->
			<div class="product-description">
				<h2>{{ product.title }}</h2>
				<p>{{ product.description|safe }}</p>
			</div>

			<!-- ستون سمت چپ: اطلاعات محصول -->
			<div class="product-info">
				<div class="price-container">
					<div class="price">{% if product.min_price == None %} عدم موجودی در انبار{% else %}{{ product.min_price|intcomma }} تومان {% endif %}</div>
{#					{% if product.old_price %}#}
{#						<div class="original-price">{{ product.old_price|intcomma }} تومان</div>#}
{#						{% if product.old_price > product.min_price %}#}
{#							<div class="discount">#}
{#								{% with discount=((product.old_price - product.min_price) / product.old_price * 100)|floatformat:"0" %}#}
{#									{{ discount }}% تخفیف#}
{#								{% endwith %}#}
{#							</div>#}
{#						{% endif %}#}
{#					{% endif %}#}
				</div>

				<div class="rating">
					<!-- امتیاز محصول -->
					{% for i in "12345" %}
						{% if forloop.counter <= product.average_rating|add:"0" %}
							<i class="fas fa-star"></i>
						{% else %}
							<i class="far fa-star"></i>
						{% endif %}
					{% endfor %}
					<span style="color: #5a7a9a; font-size: 1rem; margin-right: 5px;">
						({{ product.review_count }} نظر)
					</span>
				</div>

				<div class="stock">
					{% if product.total_available > 0 %}
						<i class="fas fa-check-circle" style="color: green;"></i>
						<span class="product-q" >موجود در انبار ( <span class="cart-count">{{ product.total_available }}</span> عدد)</span>
					{% else %}
						<i class="fas fa-times-circle" style="color: red;"></i>
						<span class=" no-product">ناموجود</span>
					{% endif %}
				</div>
				{% if product.total_available > 0 %}
				<div class="actions">
					<div class="quantity">
						<button class="qty-btn decrement minus" data-id="{{ item.id }}"> - </button>
						<span id="quantity">1</span>
						<button class="qty-btn increment plus" {% if product.total_available == 0 %}disabled{% endif %} data-id="{{ item.id }}"> + </button>
					</div>

					<button class="add-to-cart">
						افزودن به سبد خرید
					</button>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- Modal Overlay -->
		<!-- Modal Overlay -->
			  <div id="modalOverlay" class="modal-overlay">
			    <div class="modal">
			      <div class="close-icon-div">
			        <button class="close-icon-button" onclick="closeModal()">
			          <img src="{% static 'images/icons8-close-48.png' %}">
			        </button>
			      </div>
			      <div class="main-image-div">
			        <img class="img-main" src="{% static 'images/icons8-add-to-cart-100.png' %}">
			      </div>
			      <p id="modal-message">محصول به سبد خرید اضافه شد</p>
			      <div class="close-button-div">
			        <button onclick="closeModal()" class="close-button">بستن</button>
			      </div>
			    </div>
			  </div>
	</div>
{% endblock %}


{% block extra_js %}
	<script>
        // لیست تصاویر محصول به صورت داینامیک
        const productImages = [
            {% for image in images %}

                {main: '{{ image.image.url }}', thumb: '{{ image.image.url }}', alt: '{{ image.alt_text }}'},


            {% endfor %}
        ];


        // ایجاد گالری تصاویر به صورت داینامیک
        const galleryThumbs = document.getElementById('gallery-thumbs');
        const mainImage = document.getElementById('main-image');

        productImages.forEach((image, index) => {
            const thumb = document.createElement('div');
            thumb.className = 'thumb';
            thumb.dataset.image = image.main;
            thumb.dataset.alt = image.alt;

            const thumbImg = document.createElement('img');
            thumbImg.src = image.thumb;
            thumbImg.alt = image.alt;

            thumb.appendChild(thumbImg);
            galleryThumbs.appendChild(thumb);

            // تنظیم اولین تصویر به عنوان تصویر اصلی
            if (index === 0) {
                thumb.classList.add('active');
                mainImage.src = image.main;
                mainImage.alt = image.alt;
            }
        });

        // تغییر تصویر اصلی با کلیک بر روی تصاویر کوچک
        const thumbs = document.querySelectorAll('.thumb');

        thumbs.forEach(thumb => {
            thumb.addEventListener('click', function () {
                // حذف کلاس active از همه تصاویر
                thumbs.forEach(t => t.classList.remove('active'));

                // اضافه کردن کلاس active به تصویر انتخاب شده
                this.classList.add('active');

                // تغییر تصویر اصلی
                mainImage.src = this.dataset.image;
                mainImage.alt = this.dataset.alt;

                // افزودن انیمیشن برای تغییر تصویر
                mainImage.style.opacity = 0;
                setTimeout(() => {
                    mainImage.style.opacity = 1;
                    mainImage.style.transform = 'scale(1.05)';
                }, 100);
                setTimeout(() => {
                    mainImage.style.transform = 'scale(1)';
                }, 300);
            });
        });

        // مدیریت تعداد محصول - نسخه اصلاح شده
        const minusBtn = document.querySelector('.quantity .minus');
        const plusBtn = document.querySelector('.quantity .plus');
        const quantityElement = document.getElementById('quantity');

        minusBtn.addEventListener('click', function () {
            let quantity = parseInt(quantityElement.textContent);
            if (quantity > 1) {
                quantity--;
                quantityElement.textContent = quantity;
            }
        });

        plusBtn.addEventListener('click', function () {
            let quantity = parseInt(quantityElement.textContent);
            quantity++;
            quantityElement.textContent = quantity;
        });

	</script>
	<script>
        function openModal(mymessage) {
            // فعال کردن مودال
            document.getElementById('modalOverlay').classList.add('active');

            // به‌روزرسانی متن مودال
            const messageElement = document.getElementById('modal-message');
            messageElement.textContent = mymessage
            {#if (productName) {#}
            {#    messageElement.textContent = `${productName} به سبد خرید اضافه شد`;#}
            {# } else {#}
            {#    messageElement.textContent = "محصول به سبد خرید اضافه شد";#}
            {# }#}
        }

        function closeModal() {
            document.getElementById('modalOverlay').classList.remove('active');
        }
	</script>
	<script>
        $(document).ready(function () {


            // افزودن به سبد خرید (در صفحات محصولات)
            $('.add-to-cart').click(function () {
                let mymessage;
                // اگر کاربر وارد نشده باشد
                {% if not request.user.is_authenticated %}
                    mymessage = "برای افزودن محصول به سبد خرید، باید وارد حساب کاربری خود شوید"
                    openModal(mymessage)
                    window.location.href = "{% url 'account:login' %}";
                    return;
                {% endif %}
                let quantity = parseInt(quantityElement.textContent);

                // درخواست AJAX برای افزودن به سبد خرید
                $.post('{% url "user_panel:add_to_cart" 0 %}'.replace('0', {{ product.id }}),
                    {
                        count: quantity,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    function (response) {
                        if (response.success) {
                            // به‌روزرسانی تعداد آیتم‌ها در هدر
	                        console.log(response.cart_items_count);
	                        console.log(response.available_count);
	                        if(response.available_count == 0){
                                let actions = $('.actions');
								actions.remove();
		                        $('.product-q').addClass('no-product');

								$('.product-q').text("ناموجود");
                                $('.cart-count').addClass('no-product');
                                $('.price').text("عدم موجودی در انبار").addClass('no-product')

	                        }
	                        else{
	                            $('.cart-count').text(response.available_count);
							}
                            // نمایش پیام موفقیت
                            mymessage = response.message
                            openModal(mymessage)

                        } else {
                            mymessage = response.error || 'خطا در افزودن محصول به سبد خرید';
                            openModal(mymessage)
                            // نمایش خطای خاص برگشتی از سرور
                        }
                    }
                ).fail(function (xhr) {
                    // مدیریت خطاهای شبکه/سرور
                    mymessage = 'خطا در ارتباط با سرور. لطفاً دوباره تلاش کنید';
                    openModal(mymessage)
                    console.error('Error:', xhr.responseText);
                });
            });
        });

	</script>


{% endblock %}
