
.container-change-password {
    border: 1px solid var(--main-color);
}


/* tab 2 content*/
.head-container-change-password {
    background-color: var(--main-color);
}

.password-change-form {
    /*max-width: 400px;*/
    margin: 40px auto;
    background: #f8f9fa;
    /*padding: 30px;*/
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    font-family: sans-serif;
    padding: 10px 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

.form-group input {
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    /*transition: border-color 0.3s;*/
    transition: all 0.3s ease-in-out, border-color 0.3s; /* انیمیشن نرم */

}

.form-group input:focus {
    border-color: var(--main-color-two);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 120, 24, 0.5);
    transform: scale(1.02); /* کمی بزرگ‌تر شدن */
}

.submit-container {
    text-align: left;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.head-container-icon {
    width: 30px;
    height: 30px;
    margin-left: 1%;
}

.submit-btn {
    background-color: var(--main-color);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--main-color-two);
    opacity: 12;
}

input::placeholder {
    font-size: 18px;
}

